:root {
    --backgound-clr: black;
    --text-clr: white;
    --card-clr:#151515;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-clr);
    outline: none;
    /* border: 1px solid green; */
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--backgound-clr);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}
section{
    width: 80%;
    margin: auto;
}
.logo img {
    width: 75px;
}

.logoBox {
    display: flex;
    align-items: center;
}

.logoBox h1 {
    color: var(--text-clr);
    margin: 5px 15px;
}

header ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

header a {
    text-decoration: none;
}

header ul li {
    position: relative;
}

header ul li::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: var(--text-clr);
    display: block;
    transition: 300ms ease-in-out;
}

header ul li:hover::before {
    width: 100%;
}

.HomeBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    width: 100%;
    margin: 35px auto;
}

.movieCard {
    text-align: center;
    cursor: pointer;
    background-color: var(--card-clr);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 380px;
}

.movieCard p {
    margin: 10px auto;
    font-weight: 600;
}

.movieCard:hover {
    transform: translateY(-5px);
    transition: 300ms ease-in-out;
    scale: 1.01;
}

.imgBox {
    width: 100%;
    height: 90%;
}

.movieCard .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}